force-app/main/default/flows/Bulletin_Submit_a_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Tag_to_Collection</name>
        <label>Add Tag to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vTagsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Categories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_Tag_Record</name>
        <label>Construct Tag Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vTag.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTag.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Categories.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTag.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Categories.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tag_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_vRequest_Fields</name>
        <label>Set vRequest Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRequest.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedDescriptionHTML</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRequest.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRequest.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_RequestTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Suggestion</name>
        <choiceIcon>
            <iconName>utility:light_bulb</iconName>
        </choiceIcon>
        <choiceText>Suggestion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suggestion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupportRequest</name>
        <choiceIcon>
            <iconName>utility:help</iconName>
        </choiceIcon>
        <choiceText>Support Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Request</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Was_Category_Selected</name>
        <label>Was Category Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tags</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Categories.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construct_Tag_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>vTagChoices</name>
        <collectionReference>Get_Categories</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Bulletin_Category__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FormattedDescriptionHTML</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;div style=&apos;font-family: Arial,Helvetica,sans-serif; line-height:1.5; font-size:14px; padding:12px 14px; border:1px solid #e5e7eb; border-radius:8px;&apos;&gt;&quot; &amp;

&quot;&lt;div style=&apos;font-size:13px; margin:0 0 16px 0; color:#444;&apos;&gt;&lt;span style=&apos;font-weight:600; color:#000;&apos;&gt;Suggested By:&lt;/span&gt; &lt;i&gt;&quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot;&lt;/i&gt;&lt;br/&gt;&lt;span style=&apos;font-weight:600; color:#000;&apos;&gt;Date:&lt;/span&gt; &lt;i&gt;&quot; &amp; CASE(MONTH(DATEVALUE(NOW())),1,&quot;Jan&quot;,2,&quot;Feb&quot;,3,&quot;Mar&quot;,4,&quot;Apr&quot;,5,&quot;May&quot;,6,&quot;Jun&quot;,7,&quot;Jul&quot;,8,&quot;Aug&quot;,9,&quot;Sep&quot;,10,&quot;Oct&quot;,11,&quot;Nov&quot;,12,&quot;Dec&quot;,&quot;&quot;) &amp; &quot; &quot; &amp; TEXT(DAY(DATEVALUE(NOW()))) &amp; &quot;, &quot; &amp; TEXT(YEAR(DATEVALUE(NOW()))) &amp; &quot;&lt;/i&gt;&lt;/div&gt;&quot; &amp;

&quot;&lt;hr style=&apos;border:0; border-top:1px solid #e5e7eb; margin:12px 0;&apos;&gt;&quot; &amp;

IF(NOT(ISBLANK({!Description})),&quot;&lt;div style=&apos;margin:10px 0 14px 0;&apos;&gt;&lt;div style=&apos;font-weight:600; margin:0 0 6px 0; color:#16325C;&apos;&gt;Description&lt;/div&gt;&lt;div&gt;&lt;i&gt;&quot; &amp; SUBSTITUTE({!Description}, BR(), &quot;&lt;br/&gt;&quot;) &amp; &quot;&lt;/i&gt;&lt;/div&gt;&lt;/div&gt;&quot;,&quot;&quot;) &amp;

IF(NOT(ISBLANK({!RationaleContext})),&quot;&lt;div style=&apos;margin:10px 0 14px 0;&apos;&gt;&lt;div style=&apos;font-weight:600; margin:0 0 6px 0; color:#16325C;&apos;&gt;Rationale / Context&lt;/div&gt;&lt;div&gt;&lt;i&gt;&quot; &amp; SUBSTITUTE({!RationaleContext}, BR(), &quot;&lt;br/&gt;&quot;) &amp; &quot;&lt;/i&gt;&lt;/div&gt;&lt;/div&gt;&quot;,&quot;&quot;) &amp;

IF(NOT(ISBLANK({!Anything_Else})),&quot;&lt;div style=&apos;margin:10px 0 0 0;&apos;&gt;&lt;div style=&apos;font-weight:600; margin:0 0 6px 0; color:#16325C;&apos;&gt;Anything else?&lt;/div&gt;&lt;div&gt;&lt;i&gt;&quot; &amp; SUBSTITUTE({!Anything_Else}, BR(), &quot;&lt;br/&gt;&quot;) &amp; &quot;&lt;/i&gt;&lt;/div&gt;&lt;/div&gt;&quot;,&quot;&quot;) &amp;

&quot;&lt;/div&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_RequestTitle</name>
        <dataType>String</dataType>
        <expression>LEFT({!Description}, 25) + &quot;...&quot;</expression>
    </formulas>
    <interviewLabel>Bulletin: Submit a Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulletin: Submit a Request</label>
    <loops>
        <name>Loop_Categories</name>
        <label>Loop Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Categories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_Category_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tags</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Categories</targetReference>
        </connector>
        <inputReference>vRequest</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tags</name>
        <label>Create Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>vTagsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Categories</name>
        <label>Get Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Form_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bulletin_Category__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Form_Screen</name>
        <label>Form Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_vRequest_Fields</targetReference>
        </connector>
        <fields>
            <name>Form_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Form_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PromptText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Want to submit a request?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Fill out the form below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>middle</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Form_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Form_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>Choice_SupportRequest</choiceReferences>
                    <choiceReferences>Choice_Suggestion</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;What outcome(s) are we chasing here? &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This space is more for &quot;nuts &amp;amp; bolts&quot;, concrete objectives. Save broader context for the next question if you can.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RationaleContext</name>
                    <fieldText>Rationale / Context</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;If this is a suggestion, what&apos;s your thought process?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If this is a support request, how time-sensitive is it? Is it impacting any mission critical processes, blocking progress, etc?&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Anything_Else</name>
                    <fieldText>Anything Else?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tags</name>
            <choiceReferences>vTagChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tags</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;You must select at least one tag to help us categorize your request. If none of these are speaking to you, just select the one that&apos;s closest. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can reach out to your admin about potentially creating a new category, or better yet -- add it to the suggestion box!&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you! Your request has been received. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;An update will be provided via Chatter once the request is reviewed.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Categories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bulletin_Request__c</objectType>
    </variables>
    <variables>
        <name>vTag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bulletin_Tag__c</objectType>
    </variables>
    <variables>
        <name>vTagsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bulletin_Tag__c</objectType>
    </variables>
</Flow>
